@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;0,800;1,400&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

.header-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    width: 50%;
    /* justify-content: center; */
}
.nav-container img{
    width: 48px;
    height: 56.008px;
}
.nav-container h3{
color: #131318;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 10px;
}
.nav-container h3 span{
color: #FF5400;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
} 
.item-container{
width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
}
.item-container a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.special{
    color: #FF5400;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* ......................................................................... */

.banner-section{
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    border-radius: 15px;
    /* background: linear-gradient(100deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}
.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    gap: 30px;
    margin: 0 auto;
    width: 768px;
    /* align-items: flex-start; */
    display: flex;
    justify-content: space-between;

}
.banner-text h2{
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}
.banner-text p{
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.banner-form input{
    width: 174px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    /* margin-right: 0 auto; */
    font-size: 16px;
    padding-left: 15px;


    }
    .common-button{
        width: 174px;
        height: 45px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 20px;
    }
/* ....................................................................................... */

    .popular-tour-section{
        display: flex;
        align-items: center;
        margin-top: 50px;
        
       }
        
        .tour-text h3{
            color: #131318;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-bottom: 50px;
        }
        .tour-text{
            width: 50%;
           margin-left: 70px;
           height: 600px;
            
        }
        .tour-text > ul li{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
          color: rgba(19, 19, 24, 0.70);

        }
          /* p.p-text-1{
          width: 520px;
        } */
        
        .p-text-1{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
          color: rgba(19, 19, 24, 0.70);

        }
        
        .p-text-2{
            color: #5A5A5D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
    
        }
        .tour-image{
            width: 50%;
        }
        .tour-image img{
            width: 540px;
            height: 580px;
        }
    /* ....................................................................................... */
    
        .destination-section h2{
            color: #131318;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-top: 70px;
        }
        .destination-section p{
    
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        }
        img{
            width: 560px;
            height: 300px;
             border-radius: 16px;
             background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
           }
       .row-1{
        margin: 50px 80px;
        display: flex; 
        justify-content: space-between; 
       }
       /* .row{
           position: relative;
           text-align: center;
           color: white;
       } */
       .row-2{
        display: flex;
        justify-content: space-between;
         margin-left: 80px;
         margin-right: 80px;
       }
       .img-1{
        width: 350px;
        height: 260px;
        border-radius: 16px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
         }
         .img-2{
            width: 470px;
            height: 260px;
            border-radius: 16px;
            background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
        .img-3{
            width: 250px;
            height: 260px;
            border-radius: 16px;
            background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
         }
         .row-3{
            border-radius: 16px;
            display: flex;
            justify-content: space-between;
            margin-left: 80px;
            margin-right: 80px;
            margin-top: 50px;
         }
         .img-4{
            width: 460px;
            height: 300px;
            background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
         }
         .img-5{
            width: 660px;
            height: 300px;
            background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
         }
/* ................................................................................................. */

        .facilities-section h2{
            color: #131318;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-top: 70px;

        }
        .facilities-section p{
            color: rgba(19, 19, 24, 0.70);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */  
        }
        .text-area{
            display: flex;
            margin-left: 80px;
            gap: 30px;
            margin-top: 50px;
        }
        .icon{
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            margin-left: 30px;
            margin-top: 20px;
        }
        .hotel{
            width: 573px;
            height: 284px;
            border-radius: 16px;
            border: 1px solid rgba(251, 181, 99, 0.20);
            background: rgba(251, 181, 99, 0.05); 
           
        }
       
        .common-style{
            color: #131318;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-left: 30px;
        }

      .common-para-text{
        width: 486px;
        color: #5A5A5D;
        font-size: 15px;
        font-style: normal;
        margin-left: 30px;
        font-weight: 400;
        margin-bottom: 20px;
         line-height: 26px;  
      }

        .service{
            width: 573px;
            height: 284px;
            border-radius: 16px;
            border: 1px solid rgba(41, 206, 246, 0.20);
            background: rgba(41, 206, 246, 0.05); 
        }
    
        .single-area{
            display: flex;
          justify-content: center;
          margin-top: 24px;
        }
        .price{
        width: 573px;
        height: 284px;
        flex-shrink: 0;
        border-radius: 16px;
         border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05); 
        }



     
    